header {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	background-image: url("images/header3.png") ;	
	text-align: center;
	color: white;
	display: flex;
	flex-grow: 1;	
}
header h1 {
	margin-left: 0.1%;
	font-weight: normal;
	font-size: 5vw;
	color: rgb(255, 255, 255);
	text-shadow: 0 1px 0 #eee,
	0 2px 0 #e5e5e5,
	-1px 3px 0 #C8C8C8,	
	-2px 4px 1px rgba(0,0,0, 0.6),
	-2px 5px 2px rgba(0,0,0, 0.2),
	-2px 6px 4px rgba(0,0,0, 0.4);
}
header h3{
	font-size: 3vw;
	font-weight: normal;

}
.metier {
	flex-grow:3;
	animation-delay:1s;
}
.nom {	
	align-self: center;	
}
main {
	display:flex;	
	font-family: 'KoHo', sans-serif;	
	/*font-family: 'Arsenal', sans-serif;*/
	font-size: 2vw;
}
h2{
	color: #006778;
	font-size: 3vw;
	text-align:center;
	text-shadow: 0 0px 0 #006778,
	0 1px 0 #005353,
	-1px 2px 0 #004e4e,	
	-1px 3px 1px #003b3b;	
}
nav {
	width: 23%;	
	background:
    linear-gradient(181deg, hsla(53.52, 0%, 92.64%, 1) 0%, hsla(53.52, 0%, 92.64%, 0) 14%),
    linear-gradient(351deg, hsla(239.75, 0%, 82.15%, 1) 0%, hsla(239.75, 0%, 82.15%, 0) 31%),
	linear-gradient(93deg, hsla(35, 0%, 96.67%, 1) 0%, hsla(35, 0%, 96.67%, 0) 35%);
	text-align: center;
	
}

nav p {
	padding:0;	
	line-height:25px;
	color:#333;
}

nav img {
	width: 15%;
	height: 15%;
	border: 2px orange solid;
	border-radius: 50%;
	
}
a:link { 
	text-decoration:none; 
} 
a:hover img {
	width: 18%;
	height:18%;
}
.sololearn{
	margin-left: 10%;
}
.pro {
	width:77%;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 2px 2px 10px #8d8d8d;
}
.pro p{
	color:#333;
	text-align: center;
	padding:0;
	margin:0;
}
.pro h3{
	text-align: center;
	color:#333;
	margin-top:1%;
	margin-bottom: 0;
}
.cadre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height:auto;
    
}
.fiche{   
	position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    width: 25%;    
    font-weight: bold;
    color: #333333;
}

.langRecto,
.outilRecto,
.methodRecto
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 90%;
    height: 90%;
    background-color: #ffffff;
}
.ficheLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    height: 80%;
    width: auto;
    padding: 5%;
}
.logo{
	margin:5%;
}
img.logo{	
	width:30%;
	
}
img.logo1,img.logo2{
	width:80%;
}
.langRecto .titreFiche{
    background-image: url(images/fond2.png);
    background-size: cover;
}
.outilRecto .titreFiche{
    background-image: url(images/fond4.png);
    background-size: cover;
}
.methodRecto .titreFiche{
    background-image: url(images/fond5.png);
    background-size: cover;
}
.titreFiche{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.titreFiche h2{
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
}
.langVerso,
.outilVerso,
.methodVerso
{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 90%;
    height: 90%;
}
.langVerso{
    background-image: url(images/fond2.png);
    background-size: cover;
}
.outilVerso{
    background-image: url(images/fond4.png);
    background-size: cover;
}
.methodVerso{
    background-image: url(images/fond5.png);
    background-size: cover;
}

.contenu{
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1em #00000077;
}
.fiche:hover .langRecto,
.fiche .langVerso,
.fiche:hover .outilRecto,
.fiche .outilVerso,
.fiche:hover .methodRecto,
.fiche .methodVerso
{
    display: none;
}
.fiche:hover .langVerso,
.fiche:hover .outilVerso,
.fiche:hover .methodVerso
{
    display: block;
}

.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;    
    height: 80%;
    width: auto;
    margin:20%;   

}
.description p{
	font-size: 1.5vw;
	color: white;
    text-shadow: 0 0px 0 #006778,
	0 1px 0 #005353,		
	-1px 1px 1px #003b3b;
	padding:10%;	

}



/*.pie {
	width: 100px; height : 100px;
	border-radius: 50%;
	background: conic-gradient(deeppink 20%, #fb3 0,#fb3 30%,yellowgreen 0)
}*/

#telLien{
	display:none;
}
@media (max-width: 500px) {

	.tel{
		display:none;
	}
	#telLien{
		display: block;		
		text-align: center;
		color:#333;
	}
	ul{
		padding-left: 10px;
		
	}
	li{
		font-size:2em;
	}
	.auxi {
		font-size:1em;
	}	
	h2 {
		font-size: 3em;
		text-shadow: none;
	}
	p{
		font-size: 1.5em;
	}
	header h1{
		font-size: 2em;
		color: #006778;
		text-shadow: none;
	}
	header{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-image: url(images/headerM.png);
		background-size: cover;
	}
	main {
		display: flex;
		flex-wrap: wrap-reverse;
	}
	nav {
		width: 100%;
		display: flex;
	}
	nav p {
		font-size: 1.3em;
	}
	nav h2 {
	padding-left: 0%;
	font-size:2em;
	}		
	.contact{
		width:34%;
		padding-top :0;
		padding-bottom: 0;		
	}
	img {
		width:75%;
		height: 75%;
		margin:0;
	}
	a:hover img{
		display: none;
	}
	.mobilite{
		width:33%;
		padding-bottom: 0;
	}
	.interet{
		width: 35%;
	}
	.pro {
		width: 100%;
	}
	li {	
	margin-left: 0%;
	}
	.langOut ul{
		margin:0;
		padding: 0;
	}
	.reseau{
		display:flex;
	}
}

@media print {	
	
	a{
		visibility: hidden;
	}
	.pro {
		background-color: white;
	}
}
